# Prerequisites
*.d
*.tlog
*.ilk
*.idb

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.ipch

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
UI Editor/WindowAttribute.xml.bak
UI Editor/EditorWindow/readMe.txt.bak
UI Editor/Form/readMe.txt.bak
UI Editor/PropertyEditor/readMe.txt.bak
*.bak
UI Editor/Debug/UI Editor.Build.CppClean.log
UI Editor/Debug/UI Editor.log
UI Editor/Debug/UI Editor.vcxprojResolveAssemblyReference.cache
UI Editor/Property/原来的文件/AbstractProperty.h
UI Editor/Property/原来的文件/AbstractPropertyGroup.h
UI Editor/Property/原来的文件/IntProperty.h
UI Editor/Property/原来的文件/PropertyGroup.h
UI Editor/Property/原来的文件/SinglePropertyGroup.h
UI Editor/Property/原来的文件/StringProperty.h
UI Editor.VC.db
UI Editor.VC.db
*.db
UI Editor.VC.VC.opendb
UI Editor.VC.db
UI Editor.VC.db
