# Prerequisites
*.d
*.tlog
*.ilk
*.idb

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
UI Editor/WindowAttribute.xml.bak
UI Editor/EditorWindow/readMe.txt.bak
UI Editor/Form/readMe.txt.bak
UI Editor/PropertyEditor/readMe.txt.bak
*.bak
UI Editor/Debug/UI Editor.Build.CppClean.log
UI Editor/Debug/UI Editor.log
UI Editor/Debug/UI Editor.vcxprojResolveAssemblyReference.cache
